<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <h1 id="tutorQueueLogo">TutorQueue</h1>
        <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In As Tutor<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                <form>
  					<fieldset>
    					<legend>Log In As A Tutor</legend>
    					<label>Password</label>
    					<input type="text" placeholder="Type something…">
    					<button type="submit" class="btn">Submit</button>
  					</fieldset>
				</form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>