<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <h1 id="tutorQueueLogo">TutorQueue</h1>
      <nav>
        <button type="submit" class="btn btn-success pull-right" id="tutorPass">Sign In As Tutor</button>
      </nav>
    </div>
  </div>
</header>